@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', Sans-Serif;
}

:root {
  --primary-color: #000106;
  --secondary-color: #fff;
  --tirth-color: #000106;
}

.pink-theme {
  --primary-color: #ffb0e6;
  --secondary-color: #212121;
  --tirth-color: #efefef;
}

#icon {
  width: 40px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  margin: 20px 10px;
  color: red;
}



.jumbotron h1, p {
  color: var(--secondary-color);
}

.jumbotron .bi {
  color: var(--secondary-color);
}

.profile h1{
  margin-top: 30px;
}

.profile img {
  margin-top: 50px;
  border: 4px solid dodgerblue;
  box-shadow: 0 0 5px #000;
}

.profile-home img {
  margin-top: 50px;
  border: 5px solid red;
}

.auto-typed {
  color: Red;
}

.auto-typed-hom {
  color: Red;
}

.social {
  font-size: 20px;
}

.social .bi {
  color: ;
}

.button .btn {
  box-shadow: 0 0 5px #000;
}

.skill h5 {
  color: var(--secondary-color);
}

.card {
  box-shadow: 0 0 1px #000;
  background-color: transparent;
  border: 1px solid gainsboro;
}

.card .card-body {
  margin: 0 auto;
  float: left;
}

.card-body h1
{
  font-size: 15px;
  color: crimson;
  text-align: left;
}

.logo-skill {
  font-size: 100px;
}

.ccoding {
  margin-top: 30px;
}

.logoframework {
  font-size: 100px;
}

.framework {
  margin-top: 30px;
}

footer {
  background-color: #0c1022;
}

footer p {
  color: white;
}

.iconmode {
  font-size: 100px;
}

#contact h3, label {
  color: var(--secondary-color);
}

.nav {
  background-color: var(--primary-color);
  width: relative;
  border: 2px solid blue;
  border-radius: 10px;
}

@media screen and (min-width: 720px) {
  .nav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  }
}

.badan
{
    width: 880px;
    margin: 35px auto;
    background-color: var(--primary-color);
    padding: 20px;
    overflow: hidden;
}

.badan h2
{
    color: crimson;
    border-bottom: 1px solid gainsboro;
    margin: 5px;
    margin-bottom: 13px;
}

.home h1
{
  font-size: 30px;
  color: Red;
}

.list-produk
{
    box-shadow: 0 0 1px #000;
    border: 1px solid gainsboro;
    padding: 10px;
    float: left;
    width: 200px;
    margin: 5px;
}
 
.list-produk:hover
{
    transition-duration: 700ms;
    box-shadow: 5px 5px gainsboro;
}
 
.list-produk img
{
    width: 100%;
    height: 175px;
    display: block;
    margin-bottom: 5px;
}
 
.list-produk h4
{
    color: crimson;
    text-align: center;
    margin-bottom: 5px;
}

.list-produk h5
{
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
 
.tombol
{
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    display: block;
    float: left;
    width: 45%;
    margin: 4px;
    text-align: center;
    color: white;
}
 
.tombol:hover
{
    background-color: black;
    transition-duration: 700ms;
}
 
.tombol-detail
{
    background-color: green;
}
 
.tombol-menuju
{
    background-color: crimson;
    width: auto;
}
.tombol-beli
{
    background-color: crimson;
}